.button {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  width: 100%;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: rgb(32, 107, 84);
  text-align: center;
}

.button > div > div {
  height: 36px;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  top: 0px;
}

.button > div > div > span {
  position: relative;
  opacity: 1;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0px;
  user-select: none;
  padding-left: 16px;
  padding-right: 16px;
  color: rgb(255, 255, 255);
}
