.campaign {
  word-wrap: break-word;
  text-transform: uppercase;
  font-weight: 600;
  padding: 16px;
}

.campaign__header {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 12px;
  padding: 10px 10px 0;
}

.campaign__header--user > span {
  padding-top: 4px;
}

.campaign__header--user > span > strong {
  font-weight: 700;
  color: #365879;
  text-transform: capitalize;
}

.campaign__message,
.campaign__image,
.campaign__button {
  padding: 0px 30px 0px 30px;
}

.campaign__message > input,
.campaign__image > input {
  width: calc(100% - 4px);
  margin-bottom: 8px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid gray;
}

.campaign__message > input:focus,
.campaign__image > input:focus {
  outline: #365879 auto 5px;
}

.campaign__content {
  padding: 16px 0px 16px 0px;
}
