.home__description {
  margin-top: 64px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.home__description > span {
  font-weight: 700;
  font-size: 20px;
}

.home__description > span > span {
  font-weight: 100;
  color: #ababab;
}

.home__image {
  width: calc(100vw - 64px);
  padding: 0px 32px 0px 32px;
}

.home__image > img {
  width: 100%;
  height: auto;
}

.home__message {
  padding: 32px;
  color: #ababab;
  font-size: 18px;
}

.home__button {
  padding: 0px 32px 24px 32px;
}
