.home-app-bar {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(0, 0, 0);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  position: fixed;
  z-index: 1101;
  width: 100%;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  top: 0px;
}

.home-app-bar__button {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 8px 8px 0px -16px;
  padding: 12px;
  outline: none;
  font-size: 0px;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  overflow: visible;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  width: 48px;
  height: 48px;
  background: none;
}

.home-app-bar__button--menu {
  display: inline-block;
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  height: 24px;
  width: 24px;
  user-select: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.home-app-bar__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  padding-top: 0px;
  padding-right: 20px;
  letter-spacing: 0px;
  font-size: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  height: 64px;
  line-height: 64px;
  flex: 1 1 0%;
  text-transform: uppercase;
  text-align: center;
}
