.post-preview {
  padding: 32px 32px 16px 32px;
}

.post-preview__header {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 12px;
  padding: 10px 10px 0;
}

.post-preview__message {
  padding: 0px 10px 0px 10px;
}

.post-preview__content {
  padding: 10px 30px 0px 30px;
}

.post-preview__content >img {
  width: 100%;
  height: auto;
}
