.login {
  padding-top: 64px;
}

.login__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.login__description {
  text-align: center;
  font-size: 24px;
}

.login__button {
  margin-top: 32px;
}
